<div class="container">
  <h1>Edit an existing task</h1>

  <%= form_with model: @task do |f| %>
    <div class="element-form">
      <%= f.label :title %>
      <%= f.text_field :title, class:"input-form" %>
    </div>
    <div class="element-form">
      <%= f.label :details %>
      <%= f.text_field :details, class:"input-form" %>
    </div>
  </div>
  <div class="element-form">
    <%= f.submit %>
  </div>
  <% end %>

<div class="footer">
  <%= link_to 'Go back to home page', root_path %>
  <%= link_to 'Go back to Tasks list', tasks_path %>
</div>
