<div class="container">
  <div class="banner">
    <h1>Task: <%= @task.title%></h1>
    <%= link_to 'Edit this task', task_edit_path(@task) %>
  </div>

  <div class="task-details">
    <p class="details"><strong>Details:</strong> <%= @task.details%></p>
    <input type="checkbox" name="task" />
    <label for="task"><%= @input_label %></label>
  </div>
</div>

<div class="footer">
  <%= link_to 'Go back to home page', root_path %>
  <%= link_to 'Go back to Tasks list', tasks_path %>
</div>
